.nav-link.active{
    border-bottom: 4px solid palevioletred;
    width:fit-content;
    font-weight: 700;
    transition: 0s;
}
.container-fluid
{
    width: 80%;
}
svg{
    width: 20px;
}
nav{
    background-color: rgba(250, 235, 215, 0.342);
   width: 100%;
   border-radius: 5px;
}
.container{
    width: 100%
}
.con{
}
